@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul li {
  list-style: none;
}

/* color */
/* font */
body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f3f2f6;
  color: #f3f2f6;
  overflow-x: hidden;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: 0, 0, 0, 0;
  overflow: hidden;
}

[lang=en] {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -2%;
}

@media screen and (max-width: 479px) {
  em {
    display: block;
  }
  main {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  main .clouds {
    position: absolute;
    top: 8vh;
    z-index: 100;
  }
  main .clouds.right {
    display: none;
  }
  main .clouds.left {
    left: 0;
  }
  main .clouds img {
    min-width: 250vw;
    scale: 2;
  }
  main .scroll-indicator {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
  }
  main .scroll-indicator > img {
    width: 10px;
    opacity: 0;
    rotate: 90deg;
    animation: fadeIn 1.2s ease forwards 0.2s, scrollDown 0.6s ease-in-out infinite 0.4s;
  }
  @keyframes scrollDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.9;
    }
  }
  .section-about {
    padding: 140px 16px;
  }
  .section-about h2 {
    padding-bottom: 50px;
  }
  .section-work {
    padding: 140px 16px 0;
    margin: 0 auto;
    background-color: #f3f2f6;
  }
  .section-work h2 {
    color: #000;
    padding-bottom: 50px;
  }
  .section-project {
    padding: 140px 16px;
    background-color: #000;
  }
  .section-contact {
    background: #f3f2f6 url("../images/contact.png") no-repeat right top/150px auto;
  }
  .section-contact .contact-wrap {
    padding: 0 16px;
  }
  h2, .h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -2px;
  }
  .section-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    overflow: hidden;
    opacity: 0;
  }
  .section-main > div {
    margin-bottom: 20vh;
  }
  .section-main > div .main-title {
    text-align: center;
    position: relative;
    margin-bottom: clamp(3.6rem, -6.5vw, -3.5rem);
    color: #000;
  }
  .section-main > div .main-title .point-flo {
    position: absolute;
    top: clamp(-6.4rem, -6.5vw, -2rem);
    right: clamp(1.2rem, 8.5vw, 2.5rem);
    width: clamp(2rem, 7vw, 6.964rem);
    animation: spin 3s infinite cubic-bezier(0.55, 0.06, 0.68, 0.19);
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .section-main > div .main-title > span {
    font-size: clamp(2rem, 8vw + 1rem, 8.96rem);
    color: #000;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: -5px;
  }
  .section-main > div .main-title > span:nth-of-type(2) {
    padding-left: 2vw;
  }
  .section-main > div .main-title > span:nth-of-type(4) {
    padding-left: clamp(4.5rem, 8vw, 9rem);
  }
  .section-main > div .p-wrap {
    transform: translateX(-50px);
  }
  .section-main > div .main-desc {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #4d4d4d;
    line-height: 1.6;
    word-break: keep-all;
  }
  .section-about {
    background-color: #000;
    margin-top: -10px;
  }
  .section-about .about-wrap > div h3, .section-about .about-wrap > div h4 {
    font-size: 1.125rem;
    font-weight: 400;
    color: #f3f2f6;
    padding-bottom: 10px;
  }
  .section-about .about-wrap > div p, .section-about .about-wrap > div li {
    font-size: 1rem;
    font-weight: 400;
    color: #b9b9b9;
    line-height: 1.7;
    background-color: #000;
  }
  .section-about .about-wrap > div p + p, .section-about .about-wrap > div li + p {
    padding-top: 16px;
  }
  .section-about .about-wrap > div p {
    text-indent: 5px;
  }
  .section-about .about-wrap > div p b {
    font-size: 1.125rem;
    letter-spacing: 1px;
    color: #f3f2f6;
  }
  .section-about .about-wrap > div ul + h4 {
    padding-top: 30px;
  }
  .section-about .about-wrap > div ul li b {
    font-weight: 300;
    padding-right: 16px;
    color: #f3f2f6;
  }
  .section-about .about-wrap > div.about-work {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .section-about .about-track {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .section-about .about-track img {
    width: 26px;
  }
  .section-work .works {
    overflow: hidden;
  }
  .section-work .works .work {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section-work .works .work:last-child {
    margin-bottom: 140px;
  }
  .section-work .works .work + .work {
    padding-top: 100px;
  }
  .section-work .works .work > a .work-inner {
    width: 100%;
  }
  .section-work .works .work > a .work-inner .work-content {
    margin-bottom: 20px;
  }
  .section-work .works .work > a .work-inner .work-content .work-title-wrap .work-title {
    font-size: 1.25rem;
    color: #000;
    padding-bottom: 10px;
    font-weight: 500;
  }
  .section-work .works .work > a .work-inner .work-content .work-title-wrap > img {
    display: none;
  }
  .section-work .works .work > a .work-inner .work-content .work-role {
    font-size: 1rem;
    font-weight: 400;
    color: #858585;
    padding-bottom: 6px;
  }
  .section-work .works .work > a .work-inner .work-content .work-desc {
    font-size: 1rem;
    color: #4d4d4d;
    font-weight: 400;
  }
  .section-work .works .work > a .work-inner .work-media {
    border-radius: 20px;
    box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.1), 0px 13px 27px -12px rgba(50, 50, 93, 0.25);
  }
  .section-work .works .work > a .work-inner .work-media img {
    border-radius: 20px;
  }
  .section-project {
    overflow: hidden;
  }
  .section-project h2 {
    padding-bottom: 50px;
  }
  .section-project .projects {
    overflow: hidden;
    padding-top: 0;
  }
  .section-project .projects .emptyBox {
    display: none;
  }
  .section-project .projects .project {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section-project .projects .project + .project {
    padding-top: 100px;
  }
  .section-project .projects .project .work-inner {
    display: flex;
    flex-direction: column;
  }
  .section-project .projects .project .work-media {
    order: 2;
    border-radius: 20px;
  }
  .section-project .projects .project .work-media img {
    border-radius: 20px;
  }
  .section-project .projects .project .work-content {
    order: 1;
    margin-bottom: 20px;
  }
  .section-project .projects .project .work-content .work-title {
    font-size: 1.25rem;
    color: #f3f2f6;
    padding-bottom: 10px;
    font-weight: 500;
  }
  .section-project .projects .project .work-content .work-role {
    font-size: 1rem;
    font-weight: 400;
    color: #858585;
    padding-bottom: 6px;
  }
  .section-project .projects .project .work-content .work-desc {
    font-size: 1rem;
    color: #b9b9b9;
    font-weight: 400;
  }
  .section-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000;
  }
  .section-contact .contact-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .section-contact .contact-wrap > div {
    width: 100%;
  }
  .section-contact .contact-wrap > div .split > span {
    display: inline-block;
  }
  .section-contact .contact-wrap > div p {
    word-break: keep-all;
  }
  .section-contact .contact-wrap > div p:nth-of-type(1) {
    line-height: 0.8;
    font-size: 1.25rem;
    font-weight: 300;
    color: #000;
  }
  .section-contact .contact-wrap > div p:nth-of-type(2) {
    padding: 30px 0 50px;
    font-size: 1rem;
    font-weight: 400;
    color: #4d4d4d;
  }
  .section-contact .contact-wrap > div > div:nth-of-type(1) > a {
    font-size: 7vw;
    color: #000;
    border-bottom: 2px solid #000;
  }
  .section-contact .contact-wrap > div > div:nth-of-type(2) > a {
    position: relative;
    padding: 8px 35px 9px 20px;
    border-radius: 30px;
    color: #f3f2f6;
    background-color: #DA4B26;
    background-image: url("../images/arrow_hoverw02.png");
    background-repeat: no-repeat;
    background-position: 105px 50%;
    background-size: auto 13px;
    font-size: 1rem;
  }
  .parallax-progress progress {
    display: none;
  }
  .btnTop {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 30px;
    right: 16px;
    background: url("../images/top.png") no-repeat center;
    width: 34px;
    height: 34px;
    text-indent: -9999px;
    z-index: 100;
    transition: opacity 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 17px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  }
  .btnTop.scroll {
    opacity: 1;
    pointer-events: auto;
  }
  .btnTop.scroll + .btnHome {
    bottom: 72px;
  }
  .btnHome {
    position: fixed;
    bottom: 30px;
    right: 16px;
    background: url("../images/home.png") no-repeat center;
    width: 34px;
    height: 34px;
    text-indent: -9999px;
    z-index: 100;
    transition: bottom 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  em {
    display: block;
  }
  main {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  main .clouds {
    position: absolute;
    top: 8vh;
    z-index: 100;
  }
  main .clouds.right {
    display: none;
  }
  main .clouds.left {
    left: 0;
  }
  main .clouds img {
    min-width: 250vw;
    scale: 2;
  }
  main .scroll-indicator {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
  }
  main .scroll-indicator > img {
    width: 10px;
    opacity: 0;
    rotate: 90deg;
    animation: fadeIn 1.2s ease forwards 0.2s, scrollDown 0.6s ease-in-out infinite 0.4s;
  }
  @keyframes scrollDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.9;
    }
  }
  .section-about {
    padding: 140px 16px;
  }
  .section-about h2 {
    padding-bottom: 70px;
  }
  .section-work {
    padding: 140px 16px 0;
    margin: 0 auto;
  }
  .section-work h2 {
    color: #000;
    padding-bottom: 70px;
  }
  .section-project {
    padding: 140px 16px;
    background-color: #000;
  }
  .section-project h2 {
    padding-bottom: 70px;
  }
  .section-contact {
    background: #f3f2f6 url("../images/contact.png") no-repeat right top/150px auto;
  }
  .section-contact .contact-wrap {
    padding: 0 16px;
  }
  h2, .h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -2px;
  }
  .section-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    overflow: hidden;
    opacity: 0;
  }
  .section-main > div {
    margin-bottom: 20vh;
  }
  .section-main > div .main-title {
    text-align: center;
    position: relative;
    margin-bottom: clamp(3.6rem, -6.5vw, -3.5rem);
    color: #000;
  }
  .section-main > div .main-title .point-flo {
    position: absolute;
    top: clamp(-6.4rem, -6.5vw, -3rem);
    right: clamp(0.2rem, 1.5vw, 2.5rem);
    width: clamp(3rem, 7vw, 6.964rem);
    animation: spin 3s infinite cubic-bezier(0.55, 0.06, 0.68, 0.19);
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .section-main > div .main-title > span {
    font-size: clamp(4rem, 8vw + 1rem, 8.96rem);
    color: #000;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: -5px;
  }
  .section-main > div .main-title > span:nth-of-type(2) {
    padding-left: 2vw;
  }
  .section-main > div .main-title > span:nth-of-type(4) {
    padding-left: clamp(4.5rem, 8vw, 9rem);
  }
  .section-main > div .p-wrap {
    transform: translateX(-50px);
  }
  .section-main > div .main-desc {
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    color: #4d4d4d;
    line-height: 1.6;
    word-break: keep-all;
  }
  .section-about {
    background-color: #000;
    margin-top: -10px;
  }
  .section-about .about-wrap > div h3, .section-about .about-wrap > div h4 {
    font-size: 1.125rem;
    font-weight: 400;
    color: #f3f2f6;
    padding-bottom: 10px;
  }
  .section-about .about-wrap > div p, .section-about .about-wrap > div li {
    font-size: 1rem;
    font-weight: 400;
    color: #b9b9b9;
    line-height: 1.7;
    background-color: #000;
  }
  .section-about .about-wrap > div p + p, .section-about .about-wrap > div li + p {
    padding-top: 16px;
  }
  .section-about .about-wrap > div p {
    text-indent: 5px;
  }
  .section-about .about-wrap > div p b {
    font-size: 1.125rem;
    letter-spacing: 1px;
    color: #f3f2f6;
  }
  .section-about .about-wrap > div ul + h4 {
    padding-top: 30px;
  }
  .section-about .about-wrap > div ul li b {
    font-weight: 300;
    padding-right: 16px;
    color: #f3f2f6;
  }
  .section-about .about-wrap > div.about-work {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .section-about .about-track {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .section-about .about-track img {
    width: 36px;
  }
  .section-work .works {
    overflow: hidden;
  }
  .section-work .works .work {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section-work .works .work:last-child {
    margin-bottom: 140px;
  }
  .section-work .works .work + .work {
    padding-top: 100px;
  }
  .section-work .works .work > a .work-inner {
    width: 100%;
  }
  .section-work .works .work > a .work-inner .work-content {
    margin-bottom: 20px;
  }
  .section-work .works .work > a .work-inner .work-content .work-title-wrap .work-title {
    font-size: 1.25rem;
    color: #000;
    padding-bottom: 10px;
    font-weight: 500;
  }
  .section-work .works .work > a .work-inner .work-content .work-title-wrap > img {
    display: none;
  }
  .section-work .works .work > a .work-inner .work-content .work-role {
    font-size: 1rem;
    font-weight: 400;
    color: #858585;
    padding-bottom: 6px;
  }
  .section-work .works .work > a .work-inner .work-content .work-desc {
    font-size: 1rem;
    color: #4d4d4d;
    font-weight: 400;
  }
  .section-work .works .work > a .work-inner .work-media {
    border-radius: 20px;
    box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.1), 0px 13px 27px -12px rgba(50, 50, 93, 0.25);
  }
  .section-work .works .work > a .work-inner .work-media img {
    border-radius: 20px;
  }
  .section-project {
    overflow: hidden;
  }
  .section-project .projects {
    overflow: hidden;
    padding-top: 0;
  }
  .section-project .projects .emptyBox {
    display: none;
  }
  .section-project .projects .project {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section-project .projects .project + .project {
    padding-top: 100px;
  }
  .section-project .projects .project .work-inner {
    display: flex;
    flex-direction: column;
  }
  .section-project .projects .project .work-media {
    order: 2;
    border-radius: 20px;
  }
  .section-project .projects .project .work-media img {
    border-radius: 20px;
  }
  .section-project .projects .project .work-content {
    order: 1;
    margin-bottom: 20px;
  }
  .section-project .projects .project .work-content .work-title {
    font-size: 1.25rem;
    color: #f3f2f6;
    padding-bottom: 10px;
    font-weight: 500;
  }
  .section-project .projects .project .work-content .work-role {
    font-size: 1rem;
    font-weight: 400;
    color: #858585;
    padding-bottom: 6px;
  }
  .section-project .projects .project .work-content .work-desc {
    font-size: 1rem;
    color: #b9b9b9;
    font-weight: 400;
  }
  .section-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000;
  }
  .section-contact .contact-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .section-contact .contact-wrap > div .split > span {
    display: inline-block;
  }
  .section-contact .contact-wrap > div p {
    word-break: keep-all;
  }
  .section-contact .contact-wrap > div p:nth-of-type(1) {
    line-height: 0.8;
    font-size: 1.25rem;
    font-weight: 300;
    color: #000;
  }
  .section-contact .contact-wrap > div p:nth-of-type(2) {
    padding: 30px 0 70px;
    font-size: 1rem;
    font-weight: 400;
    color: #4d4d4d;
  }
  .section-contact .contact-wrap > div > div:nth-of-type(1) > a {
    font-size: 2rem;
    color: #000;
    border-bottom: 2px solid #000;
    transition: border-color 0.75s ease-in-out;
  }
  .section-contact .contact-wrap > div > div:nth-of-type(1) > a:hover {
    border-color: #d4401b;
  }
  .section-contact .contact-wrap > div > div:nth-of-type(2) > a {
    position: relative;
    padding: 8px 35px 9px 20px;
    border-radius: 30px;
    color: #f3f2f6;
    background-color: #DA4B26;
    background-image: url("../images/arrow_hoverw02.png");
    background-repeat: no-repeat;
    background-position: 105px 50%;
    background-size: auto 13px;
    font-size: 1rem;
  }
  .parallax-progress progress {
    display: none;
  }
  .btnTop {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 30px;
    right: 16px;
    background: url("../images/top.png") no-repeat center;
    width: 34px;
    height: 34px;
    text-indent: -9999px;
    z-index: 100;
    transition: opacity 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 17px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  }
  .btnTop.scroll {
    opacity: 1;
    pointer-events: auto;
  }
  .btnTop.scroll + .btnHome {
    bottom: 72px;
  }
  .btnHome {
    position: fixed;
    bottom: 30px;
    right: 16px;
    background: url("../images/home.png") no-repeat center;
    width: 34px;
    height: 34px;
    text-indent: -9999px;
    z-index: 100;
    transition: bottom 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  main {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  main .clouds {
    position: absolute;
    top: 8vh;
    z-index: 100;
  }
  main .clouds.right {
    right: 0;
  }
  main .clouds.left {
    left: 0;
  }
  main .clouds img {
    min-width: 250vw;
    scale: 2;
  }
  main .scroll-indicator {
    position: absolute;
    top: 90vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
  }
  main .scroll-indicator > img {
    width: 10px;
    opacity: 0;
    rotate: 90deg;
    animation: fadeIn 1.2s ease forwards 0.2s, scrollDown 0.6s ease-in-out infinite 0.4s;
  }
  @keyframes scrollDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.9;
    }
  }
  .section-about {
    padding: 140px 32px 200px;
    background-color: #000;
  }
  .section-about > * {
    max-width: 800px;
    margin: 0 auto;
  }
  .section-about h2 {
    padding-bottom: 100px;
  }
  .section-work {
    padding: 200px 32px 0;
    margin: 0 auto;
  }
  .section-work h2 {
    max-width: 800px;
    margin: 0 auto;
    color: #000;
    padding-bottom: 100px;
  }
  .section-project {
    padding: 200px 32px;
    background-color: #000;
  }
  .section-project h2 {
    max-width: 800px;
    margin: 0 auto;
  }
  .section-contact {
    padding: 0 32px;
    background: #f3f2f6 url("../images/contact.png") no-repeat right top/200px auto;
  }
  .section-contact .contact-wrap {
    max-width: 800px;
    margin: 0 auto;
  }
  h2, .h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -2px;
  }
  .section-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    overflow: hidden;
    opacity: 0;
  }
  .section-main > div {
    margin-bottom: 20vh;
  }
  .section-main > div .main-title {
    text-align: center;
    position: relative;
    margin-bottom: clamp(3.6rem, -6.5vw, -3.5rem);
    color: #000;
  }
  .section-main > div .main-title .point-flo {
    position: absolute;
    top: clamp(-6.4rem, -6.5vw, -3rem);
    right: clamp(0.2rem, 1.5vw, 2.5rem);
    width: clamp(3rem, 7vw, 6.964rem);
    animation: spin 3s infinite cubic-bezier(0.55, 0.06, 0.68, 0.19);
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .section-main > div .main-title > span {
    font-size: clamp(4rem, 8vw + 1rem, 8.96rem);
    color: #000;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: -5px;
  }
  .section-main > div .main-title > span:nth-of-type(2) {
    padding-left: 2vw;
  }
  .section-main > div .main-title > span:nth-of-type(4) {
    padding-left: clamp(4.5rem, 8vw, 9rem);
  }
  .section-main > div .p-wrap {
    transform: translateX(-50px);
  }
  .section-main > div .main-desc {
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    color: #4d4d4d;
    line-height: 1.6;
    word-break: keep-all;
  }
  .section-about {
    margin-top: -10px;
  }
  .section-about .about-wrap > div h3, .section-about .about-wrap > div h4 {
    font-size: 1.125rem;
    font-weight: 400;
    color: #f3f2f6;
    padding-bottom: 10px;
  }
  .section-about .about-wrap > div p, .section-about .about-wrap > div li {
    font-size: 1rem;
    font-weight: 400;
    color: #b9b9b9;
    line-height: 1.7;
    background-color: #000;
  }
  .section-about .about-wrap > div p + p, .section-about .about-wrap > div li + p {
    padding-top: 16px;
  }
  .section-about .about-wrap > div p {
    text-indent: 5px;
  }
  .section-about .about-wrap > div p b {
    font-size: 1.125rem;
    letter-spacing: 1px;
    color: #f3f2f6;
  }
  .section-about .about-wrap > div ul + h4 {
    padding-top: 30px;
  }
  .section-about .about-wrap > div ul li b {
    font-weight: 300;
    padding-right: 16px;
    color: #f3f2f6;
  }
  .section-about .about-wrap > div.about-work {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .section-about .about-track {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .section-about .about-track img {
    width: 36px;
  }
  .section-work .works {
    overflow: hidden;
  }
  .section-work .works .work {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section-work .works .work:last-child {
    margin-bottom: 200px;
  }
  .section-work .works .work + .work {
    padding-top: 140px;
  }
  .section-work .works .work > a .work-inner {
    width: 100%;
  }
  .section-work .works .work > a .work-inner .work-content {
    margin-bottom: 20px;
  }
  .section-work .works .work > a .work-inner .work-content .work-title-wrap .work-title {
    font-size: 1.25rem;
    color: #000;
    padding-bottom: 10px;
    font-weight: 500;
  }
  .section-work .works .work > a .work-inner .work-content .work-title-wrap > img {
    display: none;
  }
  .section-work .works .work > a .work-inner .work-content .work-role {
    font-size: 1rem;
    font-weight: 400;
    color: #858585;
    padding-bottom: 6px;
  }
  .section-work .works .work > a .work-inner .work-content .work-desc {
    font-size: 1rem;
    color: #4d4d4d;
    font-weight: 400;
  }
  .section-work .works .work > a .work-inner .work-media {
    border-radius: 20px;
    box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.1), 0px 13px 27px -12px rgba(50, 50, 93, 0.25);
  }
  .section-work .works .work > a .work-inner .work-media img {
    border-radius: 20px;
  }
  .section-project {
    overflow: hidden;
  }
  .section-project h2 {
    padding-bottom: 100px;
  }
  .section-project .projects {
    overflow: hidden;
    padding-top: 0;
  }
  .section-project .projects .emptyBox {
    display: none;
  }
  .section-project .projects .project {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section-project .projects .project + .project {
    padding-top: 140px;
  }
  .section-project .projects .project .work-inner {
    display: flex;
    flex-direction: column;
  }
  .section-project .projects .project .work-media {
    order: 2;
    border-radius: 20px;
  }
  .section-project .projects .project .work-media img {
    border-radius: 20px;
  }
  .section-project .projects .project .work-content {
    order: 1;
    margin-bottom: 20px;
  }
  .section-project .projects .project .work-content .work-title {
    font-size: 1.25rem;
    color: #f3f2f6;
    padding-bottom: 10px;
    font-weight: 500;
  }
  .section-project .projects .project .work-content .work-role {
    font-size: 1rem;
    font-weight: 400;
    color: #858585;
    padding-bottom: 6px;
  }
  .section-project .projects .project .work-content .work-desc {
    font-size: 1rem;
    color: #b9b9b9;
    font-weight: 400;
  }
  .section-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000;
  }
  .section-contact .contact-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .section-contact .contact-wrap > div .split > span {
    display: inline-block;
  }
  .section-contact .contact-wrap > div p {
    word-break: keep-all;
  }
  .section-contact .contact-wrap > div p:nth-of-type(1) {
    line-height: 0.8;
    font-size: 1.25rem;
    font-weight: 300;
    color: #000;
  }
  .section-contact .contact-wrap > div p:nth-of-type(2) {
    padding: 30px 0 70px;
    font-size: 1rem;
    font-weight: 400;
    color: #4d4d4d;
  }
  .section-contact .contact-wrap > div > div:nth-of-type(1) > a {
    font-size: 2rem;
    color: #000;
    border-bottom: 2px solid #000;
    transition: border-color 0.75s ease-in-out;
  }
  .section-contact .contact-wrap > div > div:nth-of-type(1) > a:hover {
    border-color: #d4401b;
  }
  .section-contact .contact-wrap > div > div:nth-of-type(2) > a {
    position: relative;
    padding: 8px 35px 9px 20px;
    border-radius: 30px;
    color: #f3f2f6;
    background-color: #DA4B26;
    background-image: url("../images/arrow_hoverw02.png");
    background-repeat: no-repeat;
    background-position: 105px 50%;
    background-size: auto 13px;
    font-size: 1rem;
  }
  .parallax-progress progress {
    display: none;
  }
  .btnTop {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 50px;
    right: 32px;
    background: url("../images/top.png") no-repeat center;
    width: 34px;
    height: 34px;
    text-indent: -9999px;
    z-index: 100;
    transition: opacity 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 17px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  }
  .btnTop.scroll {
    opacity: 1;
    pointer-events: auto;
  }
  .btnTop.scroll + .btnHome {
    bottom: 92px;
  }
  .btnHome {
    position: fixed;
    bottom: 50px;
    right: 32px;
    background: url("../images/home.png") no-repeat center;
    width: 34px;
    height: 34px;
    text-indent: -9999px;
    z-index: 100;
    transition: bottom 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1280px) {
  main {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  main .clouds {
    position: absolute;
    top: 8vh;
    z-index: 100;
  }
  main .clouds.right {
    right: 0;
  }
  main .clouds.left {
    left: 0;
  }
  main .clouds img {
    min-width: 150vw;
    scale: 2;
  }
  main .scroll-indicator {
    position: absolute;
    top: 90vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
  }
  main .scroll-indicator > img {
    width: 10px;
    opacity: 0;
    rotate: 90deg;
    animation: fadeIn 1.2s ease forwards 0.2s, scrollDown 0.6s ease-in-out infinite 0.4s;
  }
  @keyframes scrollDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.9;
    }
  }
  .section-about {
    padding: 150px 32px 200px;
    background-color: #000;
  }
  .section-about > * {
    max-width: 1440px;
    margin: 0 auto;
  }
  .section-about h2 {
    padding-bottom: 30px;
  }
  .section-work {
    padding: 150px 32px 40px;
    margin: 0 auto;
  }
  .section-work h2 {
    max-width: 1440px;
    margin: 0 auto;
    color: #000;
  }
  .section-project {
    padding: 0 32px 200px;
    background-color: #000;
  }
  .section-project h2 {
    padding: 150px 0 400px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .section-contact {
    background: #f3f2f6 url("../images/contact.png") no-repeat right top/250px auto;
    padding: 0 32px;
  }
  .section-contact .contact-wrap {
    max-width: 1440px;
    margin: 0 auto;
  }
  h2, .h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -2px;
    padding-bottom: 30px;
  }
  .section-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    overflow: hidden;
    opacity: 0;
  }
  .section-main > div {
    margin-bottom: 20vh;
  }
  .section-main > div .main-title {
    position: relative;
    margin-bottom: clamp(3.6rem, -6.5vw, -3.5rem);
    color: #000;
  }
  .section-main > div .main-title .point-flo {
    position: absolute;
    top: clamp(-6.4rem, -6.5vw, -3.5rem);
    right: clamp(0.6rem, 1.5vw, 2.5rem);
    width: clamp(3.8rem, 7vw, 6.964rem);
    animation: spin 3s infinite cubic-bezier(0.55, 0.06, 0.68, 0.19);
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .section-main > div .main-title > span {
    font-size: clamp(5.125rem, 8vw + 1rem, 8.96rem);
    color: #000;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: -5px;
  }
  .section-main > div .main-title > span:nth-of-type(2) {
    padding-left: 2vw;
  }
  .section-main > div .main-title > span:nth-of-type(4) {
    padding-left: clamp(4.5rem, 8vw, 9rem);
  }
  .section-main > div .p-wrap {
    transform: translateX(-50px);
  }
  .section-main > div .main-desc {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    color: #4d4d4d;
    line-height: 1.6;
  }
  .section-about {
    margin-top: -100px;
  }
  .section-about .about-wrap > div h3, .section-about .about-wrap > div h4 {
    font-size: 1.25rem;
    font-weight: 400;
    color: #f3f2f6;
    padding-bottom: 10px;
  }
  .section-about .about-wrap > div p, .section-about .about-wrap > div li {
    font-size: 1.125rem;
    font-weight: 400;
    color: #b9b9b9;
    line-height: 1.7;
    background-color: #000;
  }
  .section-about .about-wrap > div p + p, .section-about .about-wrap > div li + p {
    padding-top: 16px;
  }
  .section-about .about-wrap > div p {
    text-indent: 5px;
  }
  .section-about .about-wrap > div p b {
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: #f3f2f6;
  }
  .section-about .about-wrap > div ul + h4 {
    padding-top: 30px;
  }
  .section-about .about-wrap > div ul li b {
    font-weight: 300;
    padding-right: 16px;
    color: #f3f2f6;
  }
  .section-about .about-wrap > div.about-work {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .section-about .about-track {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .section-about .about-track img {
    width: 50px;
  }
  .section-work .pin-spacer {
    pointer-events: none; /* 스페이서가 클릭을 막지 않도록 */
  }
  .section-work .works {
    overflow: hidden;
  }
  .section-work .works .work {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    pointer-events: none;
    background-color: #f3f2f6;
  }
  .section-work .works .work.active {
    pointer-events: auto;
  }
  .section-work .works .work:last-child {
    margin-bottom: 100vh;
  }
  .section-work .works .work > a {
    pointer-events: auto;
  }
  .section-work .works .work > a .work-inner {
    width: 100%;
    height: 100%;
  }
  .section-work .works .work > a .work-inner .work-content {
    margin-bottom: 20px;
  }
  .section-work .works .work > a .work-inner .work-content .work-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-work .works .work > a .work-inner .work-content .work-title-wrap .work-title {
    font-size: 2rem;
    color: #000;
    padding-bottom: 10px;
    font-weight: 500;
  }
  .section-work .works .work > a .work-inner .work-content .work-title-wrap > img {
    width: 22px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    animation: pushForward 0.6s ease-in-out infinite;
  }
  @keyframes pushForward {
    0% {
      transform: translateZ(0);
    }
    50% {
      transform: translateX(-4px);
    }
    100% {
      transform: translateZ(0);
    }
  }
  .section-work .works .work > a .work-inner .work-content .work-role {
    font-size: 1.125rem;
    font-weight: 400;
    color: #858585;
    padding-bottom: 6px;
  }
  .section-work .works .work > a .work-inner .work-content .work-desc {
    font-size: 1.125rem;
    color: #4d4d4d;
    font-weight: 400;
  }
  .section-work .works .work > a .work-inner .work-media {
    scale: 1;
    transition: scale 0.75s;
    border-radius: 20px;
    box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.1), 0px 13px 27px -12px rgba(50, 50, 93, 0.25);
  }
  .section-work .works .work > a .work-inner .work-media img {
    border-radius: 20px;
  }
  .section-work .works .work > a:hover .work-media {
    scale: 1.015;
  }
  .section-work .works .work.active:not(.work-last) {
    filter: blur(12px);
  }
  .section-project {
    min-height: 100vh;
    overflow: hidden;
  }
  .section-project h2 {
    padding-bottom: 30px;
  }
  .section-project .projects {
    display: flex;
    padding-top: 0;
  }
  .section-project .projects .emptyBox {
    height: 20px;
    width: 0;
    transition: width 0.3s;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .section-project .projects .project {
    flex-shrink: 0;
    width: 80vw;
    max-width: 700px;
  }
  .section-project .projects .project + .project {
    margin-left: 32px;
  }
  .section-project .projects .project a:hover .work-media {
    scale: 1.015;
  }
  .section-project .projects .project .work-media {
    padding-bottom: 20px;
    border-radius: 20px;
    scale: 1;
    transition: scale 0.75s;
  }
  .section-project .projects .project .work-media img {
    border-radius: 20px;
  }
  .section-project .projects .project .work-content .work-title {
    font-size: 1.25rem;
    color: #f3f2f6;
    padding-bottom: 10px;
    font-weight: 500;
  }
  .section-project .projects .project .work-content .work-role {
    font-size: 1rem;
    font-weight: 400;
    color: #858585;
    padding-bottom: 6px;
  }
  .section-project .projects .project .work-content .work-desc {
    font-size: 1.125rem;
    color: #b9b9b9;
    font-weight: 400;
  }
  .section-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000;
  }
  .section-contact .contact-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .section-contact .contact-wrap > div .split > span {
    display: inline-block;
  }
  .section-contact .contact-wrap > div p:nth-of-type(1) {
    line-height: 0.8;
    font-size: 2rem;
    font-weight: 300;
    color: #000;
  }
  .section-contact .contact-wrap > div p:nth-of-type(2) {
    padding: 30px 0 70px;
    font-size: 1.125rem;
    font-weight: 400;
    color: #4d4d4d;
  }
  .section-contact .contact-wrap > div > div:nth-of-type(1) > a {
    font-size: 3rem;
    color: #000;
    border-bottom: 2px solid #000;
    transition: border-color 0.75s ease-in-out;
  }
  .section-contact .contact-wrap > div > div:nth-of-type(1) > a:hover {
    border-color: #d4401b;
  }
  .section-contact .contact-wrap > div > div:nth-of-type(2) > a {
    position: relative;
    padding: 10px 35px 11px 20px;
    border-radius: 30px;
    color: #f3f2f6;
    background-color: #DA4B26;
    background-image: url("../images/arrow_hoverw01.png");
    background-repeat: no-repeat;
    background-position: 105px 50%;
    background-size: auto 13px;
    transition: background 0.2s ease;
    font-size: 1rem;
  }
  .section-contact .contact-wrap > div > div:nth-of-type(2) > a:hover {
    background-color: #d4401b;
    background-image: url("../images/arrow_hoverw02.png");
  }
  .parallax-progress progress {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    appearance: none;
    width: 100%;
    height: 3px;
    border: none;
    background: transparent;
  }
  progress::-webkit-progress-bar {
    background: transparent;
  }
  progress::-webkit-progress-value {
    background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
    background-attachment: fixed;
  }
  progress::-moz-progress-bar {
    background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
    background-attachment: fixed;
  }
  .btnTop {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 50px;
    right: 32px;
    background: url("../images/top.png") no-repeat center;
    width: 34px;
    height: 34px;
    text-indent: -9999px;
    z-index: 100;
    transition: opacity 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 17px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  }
  .btnTop.scroll {
    opacity: 1;
    pointer-events: auto;
  }
  .btnTop.scroll + .btnHome {
    bottom: 92px;
  }
  .btnHome {
    position: fixed;
    bottom: 50px;
    right: 32px;
    background: url("../images/home.png") no-repeat center;
    width: 34px;
    height: 34px;
    text-indent: -9999px;
    z-index: 100;
    transition: bottom 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.detail-wrap {
  background-color: #f3f2f6;
  color: #4d4d4d;
}

@media screen and (max-width: 767px) {
  .detail-wrap {
    padding: 30px 0;
  }
  .detail-area,
  .work-list {
    padding: 0 16px;
  }
  .splide .splide__track {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .work-list .list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    border-bottom: 1px solid #e9e9e9;
    cursor: pointer;
  }
  .work-list .list-title > p {
    color: #858585;
  }
  .work-list .list-title > img {
    width: 8px;
    max-width: 13px;
    opacity: 0.7;
    margin-top: 8px;
    rotate: 90deg;
    transition: rotate 0.3s ease 0s;
  }
  .work-list .list-title + .list-wrap {
    display: flex;
    flex-direction: column;
  }
  .work-list .list-title + .list-wrap li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
    font-size: 1rem;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    transition: height 0.4s, opacity 0s, padding 0.4s;
    transition-timing-function: ease;
  }
  .work-list .list-title + .list-wrap li > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
  }
  .work-list .list-title + .list-wrap li > a > div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .work-list .list-title + .list-wrap li > a > div span {
    display: block;
    background-color: #4d4d4d;
    color: #f3f2f6;
    font-size: 0.5rem;
    padding: 3px 5px;
    border-radius: 6px;
  }
  .work-list .list-title + .list-wrap li.active a {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
  }
  .work-list .list-title + .list-wrap li.active a > img {
    display: none;
  }
  .work-list .list-title.active > p {
    color: #DA4B26;
  }
  .work-list .list-title.active > img {
    rotate: -90deg;
  }
  .work-list .list-title.active + .list-wrap li {
    height: auto;
    opacity: 1;
    padding: 12px 0;
    transition: height 0.75s, opacity 0.2s, padding 0.75s;
    transition-timing-function: ease;
  }
  .detail-area {
    padding-top: 50px;
    padding-bottom: 140px;
  }
  .detail-area .work .work-inner .work-content {
    padding-bottom: 40px;
    position: relative;
  }
  .detail-area .work .work-inner .work-content > span {
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    color: #DA4B26;
    padding-bottom: 6px;
  }
  .detail-area .work .work-inner .work-content .work-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 12px;
    color: #000;
    line-height: 1.3;
    word-break: keep-all;
  }
  .detail-area .work .work-inner .work-content .work-title > a {
    display: inline;
    text-decoration: none;
    color: inherit;
    line-height: 1.4;
    word-break: keep-all;
  }
  .detail-area .work .work-inner .work-content .work-title > a > img {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 4px;
    width: 32px;
    height: 48px;
    padding-bottom: 6px;
    vertical-align: middle;
  }
  .detail-area .work .work-inner .work-content .work-role {
    font-size: 1rem;
    color: #858585;
    margin-bottom: 10px;
    letter-spacing: 1.1px;
  }
  .detail-area .work .work-inner .work-content .work-desc {
    font-size: 1rem;
    color: #4d4d4d;
    line-height: 1.8;
  }
  .detail-area .work .work-inner .work-media img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
    border: 1px solid #e9e9e9;
  }
  .detail-area .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    margin: 20px auto 0;
  }
  .detail-area .detail div img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
    border: 1px solid #e9e9e9;
  }
  .splide .splide__slide + .splide__slide {
    margin-left: 3px;
  }
  .splide .splide__arrows {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    padding: 0 16px;
  }
  .splide .splide__arrows .splide__arrow {
    position: static;
  }
  .splide .splide__arrows .splide__arrow img {
    width: 14px;
  }
  .splide .splide__arrows .splide__arrow.splide__arrow--prev img {
    rotate: 180deg;
  }
  .splide {
    /* 슬라이드 되는 이미지 크기 및 모양 */
  }
  .splide .splide__slide.active {
    pointer-events: none;
    cursor: default;
  }
  .splide .splide__slide.active .item > a > img {
    opacity: 0.5;
  }
  .splide .splide__slide.active .item > a > p {
    color: #b9b9b9;
  }
  .splide .splide__slide img {
    display: block;
    width: 100%;
    border-radius: 8px;
    transition: transform 400ms;
    transform: scale(0.98);
    transform-origin: center center;
  }
  .splide .splide__slide p {
    padding-top: 10px;
    font-size: 1rem;
    color: #4d4d4d;
  }
  .splide .splide__slide:not(.active) img:hover {
    transform: scale(1);
  }
}
@media screen and (min-width: 768px) {
  .detail-wrap {
    padding: 50px 0;
  }
  .detail-area,
  .work-list {
    padding: 0 40px;
    max-width: 880px;
    margin: 0 auto;
  }
  .splide .splide__track {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .work-list .list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    border-bottom: 1px solid #e9e9e9;
    cursor: pointer;
  }
  .work-list .list-title > p {
    color: #858585;
  }
  .work-list .list-title > img {
    width: 8px;
    max-width: 13px;
    opacity: 0.7;
    margin-top: 8px;
    rotate: 90deg;
    transition: rotate 0.3s ease 0s;
  }
  .work-list .list-title + .list-wrap {
    display: flex;
    flex-direction: column;
  }
  .work-list .list-title + .list-wrap li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
    font-size: 1rem;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    transition: height 0.4s, opacity 0s, padding 0.4s;
    transition-timing-function: ease;
  }
  .work-list .list-title + .list-wrap li > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
  }
  .work-list .list-title + .list-wrap li > a > div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .work-list .list-title + .list-wrap li > a > div span {
    display: block;
    background-color: #4d4d4d;
    color: #f3f2f6;
    font-size: 0.5rem;
    padding: 3px 5px;
    border-radius: 6px;
  }
  .work-list .list-title + .list-wrap li > a:hover > div {
    color: #DA4B26;
    transition: color 0.55s ease;
  }
  .work-list .list-title + .list-wrap li.active a {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
  }
  .work-list .list-title + .list-wrap li.active a > img {
    display: none;
  }
  .work-list .list-title.active > p {
    color: #DA4B26;
  }
  .work-list .list-title.active > img {
    rotate: -90deg;
  }
  .work-list .list-title.active + .list-wrap li {
    height: auto;
    opacity: 1;
    padding: 12px 0;
    transition: height 0.75s, opacity 0.2s, padding 0.75s;
    transition-timing-function: ease;
  }
  .detail-area {
    padding-top: 80px;
    padding-bottom: 180px;
  }
  .detail-area .work .work-inner .work-content {
    padding-bottom: 40px;
    position: relative;
  }
  .detail-area .work .work-inner .work-content > span {
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
    color: #DA4B26;
    padding-bottom: 4px;
  }
  .detail-area .work .work-inner .work-content .work-title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 12px;
    color: #000;
  }
  .detail-area .work .work-inner .work-content .work-title > a {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .detail-area .work .work-inner .work-content .work-title > a > img {
    width: 40px;
    height: 48px;
    padding-top: 8px;
    opacity: 1;
    transition: opacity 0.5s;
  }
  .detail-area .work .work-inner .work-content .work-title > a:hover img {
    opacity: 0.7;
  }
  .detail-area .work .work-inner .work-content .work-role {
    font-size: 1rem;
    color: #858585;
    margin-bottom: 10px;
    letter-spacing: 1.1px;
  }
  .detail-area .work .work-inner .work-content .work-desc {
    font-size: 1.125rem;
    color: #4d4d4d;
    line-height: 1.8;
  }
  .detail-area .work .work-inner .work-media img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
    border: 1px solid #e9e9e9;
  }
  .detail-area .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    margin: 40px auto 0;
  }
  .detail-area .detail div img {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    border-radius: 12px;
    border: 1px solid #e9e9e9;
  }
  .splide .splide__slide + .splide__slide {
    margin-left: 3px;
  }
  .splide .splide__arrows {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    padding: 0 40px;
  }
  .splide .splide__arrows .splide__arrow {
    position: static;
  }
  .splide .splide__arrows .splide__arrow img {
    width: 14px;
  }
  .splide .splide__arrows .splide__arrow.splide__arrow--prev img {
    rotate: 180deg;
  }
  .splide {
    /* 슬라이드 되는 이미지 크기 및 모양 */
  }
  .splide .splide__slide.active {
    pointer-events: none;
    cursor: default;
  }
  .splide .splide__slide.active .item > a > img {
    opacity: 0.5;
  }
  .splide .splide__slide.active .item > a > p {
    color: #b9b9b9;
  }
  .splide .splide__slide img {
    display: block;
    width: 100%;
    border-radius: 8px;
    transition: transform 400ms;
    transform: scale(0.98);
    transform-origin: center center;
  }
  .splide .splide__slide p {
    padding-top: 10px;
    font-size: 1rem;
    color: #4d4d4d;
  }
  .splide .splide__slide:not(.active) img:hover {
    transform: scale(1);
  }
}

/*# sourceMappingURL=import.css.map */
