@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body{
  font-family: "Noto Sans KR", sans-serif;
}

@media screen and (max-width: 499px)  {
  .textF >ul{
    padding: 0;
  }
  
  .textF .move {
    padding: 5vh 0 300px;
    list-style: none;
    text-align: center;
    margin-bottom: 50vh;
  }
  .textF .move:nth-child(1){
    margin-top: 30px;
  }
  .textF .move:nth-child(3){
    padding-bottom: 0;
    margin-bottom: calc(100vh - 245px);
  }
  
  .textF .move >span {
    font-size: 14px;
    color: #238F51;
    font-weight: 500;
  }

  .textF .move h2 {
    font-size: 26px;
    color: #14142B;
    font-weight: 700;
    margin: 0;
  }
  
  .textF .move p:first-of-type{
    font-size: 12px;
    color: #9999A6;
  }
  .textF .move p >span{
    color: #f05d4d;
    font-weight: 600;
  }
  .textF .move p:last-of-type{
    font-size: 14px;
    color: #14142B;
  }
  .textF .move a {
    display: block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background-color: #238F51;
    width: 220px;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
    margin: 0 auto;
  }

  .imgF {
    position: fixed;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
    margin: 30px auto;
    width: 100%;
    max-width: 700px;
    background-image: url('../images/back_phone.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
  }
  
  .imgF img {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 700px;
  }
  
  .imgF h2 {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
  }

  .imgF #imageContainerP{
    display: none;
  }
}

@media screen and (min-width: 500px) and (max-width: 699px)  {
  .textF >ul{
    padding: 0;
  }
  
  .textF .move {
    padding: 5vh 0 300px;
    list-style: none;
    text-align: center;
    margin-bottom: 50vh;
  }
  .textF .move:nth-child(3){
    padding-bottom: 0;
    margin-bottom: calc(100vh - 235px);
  }

  .textF .move >span {
    font-size: 14px;
    color: #238F51;
    font-weight: 500;
  }

  .textF .move h2 {
    font-size: 26px;
    color: #14142B;
    font-weight: 700;
    margin: 0;
  }
  
  .textF .move p:first-of-type{
    font-size: 12px;
    color: #9999A6;
  }
  .textF .move p >span{
    color: #f05d4d;
    font-weight: 600;
  }
  .textF .move p:last-of-type{
    font-size: 14px;
    color: #14142B;
  }
  .textF .move a {
    display: block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background-color: #238F51;
    width: 220px;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
    margin: 0 auto;
  }

  .imgF {
    position: fixed;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    margin: 30px auto;
    width: 100%;
    max-width: 700px;
    background-image: url('../images/back_phone.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
  }
  
  .imgF img {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 700px;
  }
  
  .imgF h2 {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
  }

  .imgF #imageContainerP{
    display: none;
  }
}

@media screen and (min-width: 700px) and (max-width: 999px)  {
  .textF >ul{
    padding: 0;
  }
  
  .textF .move {
    padding: 80px 0 300px;
    list-style: none;
    text-align: center;
    margin-bottom: 30vh;
  }
  .textF .move:nth-child(3){
    padding-bottom: 0;
    margin-bottom: calc(100vh - 265px);
  }
  
  .textF .move >span {
    font-size: 16px;
    color: #238F51;
    font-weight: 600;
  }

  .textF .move h2 {
    font-size: 28px;
    color: #14142B;
    font-weight: 700;
    margin: 0;
  }
  
  .textF .move p:first-of-type{
    font-size: 14px;
    color: #9999A6;
  }
  .textF .move p >span{
    color: #f05d4d;
    font-weight: 600;
  }
  .textF .move p:last-of-type{
    font-size: 16px;
    color: #14142B;
  }
  .textF .move a {
    display: block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background-color: #238F51;
    width: 255px;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
    margin: 0 auto;
  }

  .imgF {
    position: fixed;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    margin: 30px auto;
    width: 100%;
    max-width: 700px;
    background-image: url('../images/back_phone.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
  }
  
  .imgF img {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 700px;
  }
  
  .imgF h2 {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
  }

  .imgF #imageContainerP{
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .contentBox {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .textF >ul{
    padding: 0 0 0 20px;
  }

  .textF .move {
    padding: 300px 0 100px;
    margin-bottom: 300px;
    list-style: none;
  }

  .textF .move:nth-child(1){
    margin-top: calc(50vh - 390px);
  }

  .textF .move:nth-child(3){
    margin-bottom: calc(50vh - 200px);
  }
  
  .textF .move >span {
    font-size: 16px;
    color: #238F51;
    font-weight: 600;
  }

  .textF .move h2 {
    font-size: 28px;
    color: #14142B;
    font-weight: 700;
    margin: 0;
  }
  
  .textF .move p:first-of-type{
    font-size: 14px;
    color: #9999A6;
  }
  .textF .move p >span{
    color: #f05d4d;
    font-weight: 600;
  }
  .textF .move p:last-of-type{
    font-size: 16px;
    color: #14142B;
  }

  .textF .move a {
    display: block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background-color: #238F51;
    width: 120px;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
  }

  .imgF img {
    margin: 0 auto;
    display: block;
  }
  .imgF #imageContainerM{
    display: none;
  }
  
  .textF {
    width: 30%;
  }

  .imgF {
    position: sticky;
    align-self: flex-start;
    top: calc(50vh - 260px);
    left: 0;
    width: 70%;
    min-width: 750px;
    margin: 0;
    background-image: url('../images/back_pc.png');
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: center 0px;
  }

  .imgF img {
    width: 750px;
  }
}

.moneyImg >img{
  width: 100%;
}