
html{
    font-size: 10.5px;
    line-height: 10.5px;
}
body{
    font-size: 1.4rem;
    line-height: 1.7rem;
}

#container{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto 60px;
}
.main-left{
    width: 830px;
}
.main-right{
    width: 420px;
}

.main-frame{
    background-color: #fff;
    background-color: var(--color_block_bg);
    position: relative;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 0 1px #e3e5e8,0 1px 2px 0 rgba(0,0,0,.04);
    box-shadow: 0 0 0 1px #e3e5e8,0 1px 2px 0 rgba(0,0,0,.04);
}
.main-frame+.main-frame{
    margin-top: 16px;
}
.ad-banner{
    overflow: hidden;
}

/*! tab */
.main-tab{
    display: flex;
    padding: 18px 20px 17px;
}
.main-tab .tab-item{}
.main-tab .tab-item+.tab-item{
    position: relative;
    padding-left: 26px;
}
.main-tab .tab-item+.tab-item::before{
    content: "";
    position: absolute;
    top: 4px;
    left: 13px;
    width: 1px;
    height: 15px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
}
.main-tab .tab-item .tab{
    display: block;
    font-size: 1.6rem;
    line-height: 23px;
    font-weight: 800;
    color: rgba(8,8,8,.5);
    -webkit-font-smoothing: antialiased;
}
.main-tab .tab-item .tab[aria-selected="true"]{
    color: var(--color_title);
}
.main-tab .tab-item.first{
    display: flex;
}
.main-tab .tab-item.first .tab+.tab{
    display: flex;
    align-items: center;
}
.main-tab .tab-item.first .tab+.tab::before{
    width: 4px;height: 4px;
    border-radius: 50%;
    background-color: var(--color_dot_divider);
    content: '';
    margin: 0 10px;
}
.main-tab .tab-item .tab .point{
    background-color: #f4361e;
    background-color: var(--color_live_news_price);
    display: inline-block;
    margin: 3px 0 0 5px;
    padding: 0 5px 0 4px;
    border-radius: 9px;
    font-size: 1.1rem;
    line-height: 18px;
    font-weight: 900;
    vertical-align: top;
    color: #fff;
}
.main-tab .tab-item .tab .point::before{
    content: "";
    display: inline-block;
    background-position: -358px -301px;
    width: 14px;
    height: 10px;
    margin: 4px 3px 0 0;
    vertical-align: top;
}

/*! group-issue */
.main-frame .group-issue{
    background-color: #f5f7f8;
    background-color: var(--color_option_bg);
    position: relative;
    display: flex;
    margin: 0 20px 18px;
    padding: 12px 20px;
    border-radius: 4px;
    line-height: 26px;
}
.main-frame .group-issue .issue-area{
    display: flex;
    flex: 1;
}
.main-frame .group-issue .issue-area .btn-all{
    display: flex;
    align-items: center;
}
.main-frame .group-issue .issue-area .btn-all::after{
    display: block;
    content: '';
    background-position: -242px -184px;
    width: 9px;
    height: 6px;
    margin: 0 0 0 5px;
}
.main-frame .group-issue .issue-area .link-media{
    display: flex;
    align-items: center;
}
.main-frame .group-issue .issue-area .link-media::after{
    content: "";
    width: 3px;
    height: 3px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 0 6px;
    border-radius: 50%;
}
.main-frame .group-issue .news-area{
    display: flex;
}
.main-frame .group-issue .news-area .link-news+.link-news{
    font-weight: 800;
}
.main-frame .group-issue .news-area .link-news+.link-news::before{
    display: inline-block;
    content: "";
    margin: 4px 12px 0;
    width: 1px;
    height: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
}

/*! control */
.main-frame .group-control{
    border-top: 1px solid #ebebeb;
    border-top: 1px solid var(--color_border_in);
    position: relative;
    padding: 10px 0 11px;
    line-height: 34px;
    text-align: center;
}
.main-frame .group-control .control-area{
    display: flex;
    justify-content: center;
}
.main-frame .group-control .control-area .btn.prev{
    width: 36px;
    height: 36px;
    border: 1px solid #dadcdf;
    border: 1px solid var(--color_button_border);
    background-color: #fff;
    background-color: var(--color_button1_bg);
    position: relative;
    display: inline-block;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;
}
.main-frame .group-control .control-area .btn.prev::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: -452px -104px;
    width: 10px;
    height: 12px;
    margin: auto;
    transform: rotate(180deg);
}
.main-frame .group-control .control-area .more-wrap{
    color: var(--color_caption2);
    display: flex;
    justify-content: center;
    min-width: 156px;
    padding: 0 16px;
    font-size: 1.3rem;
    line-height: 35px;
    font-weight: 600;
}
.main-frame .group-control .control-area .more-wrap .point{
    padding-right: 4px;
}
.main-frame .group-control .control-area .more-wrap .curr{
    padding-left: 4px;
}
.main-frame .group-control .control-area .more-wrap .total{
    color: rgba(96,96,96,.5);
}
.main-frame .group-control .control-area .btn.next{
    width: 36px;
    height: 36px;
    border: 1px solid #dadcdf;
    border: 1px solid var(--color_button_border);
    background-color: #fff;
    background-color: var(--color_button1_bg);
    position: relative;
    display: inline-block;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;
}
.main-frame .group-control .control-area .btn.next::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: -452px -104px;
    width: 10px;
    height: 12px;
    margin: auto;
}
/*! tag-ad */
.tag-ad{
    border: 1px solid var(--color_border_out);
    color: var(--color_caption2);
    width: 30px;
    font-size: 1.3rem;
    line-height: 18px;
    border-radius: 4px;
    text-align: center;
}







/********! left *********/
/*? sc-news */
/** sc-news _ group-issue */
.sc-news{}
.sc-news .group-head{}

/** sc-news _ group-issue */
.sc-news .group-issue{
    margin-bottom: 0;
}
.sc-news .group-issue .issue-area .link-media::before{
    content: "";
    width: 1px;
    height: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 4px 12px 0;
}

/** sc-news _ group-media */
.sc-news .group-media{
    margin: 18px 20px 18px 20px;
    border: 1px solid #ebebeb;
    border: 1px solid var(--color_border_in);
    overflow: hidden;
    position: relative;
    height: 224px;
    border-radius: 4px;
}
.sc-news .group-media .media-list{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
    height: 100%;
}
.sc-news .group-media .media-item{
    display: flex;align-items: center;justify-content: center;
}
.sc-news .group-media .vt-line{
    position: absolute;
    top: 0;width: 1px;height: 100%;
    background: var(--color_border_in);
}
.sc-news .group-media .vt-line.vt1{left: calc((100%/6)*1);}
.sc-news .group-media .vt-line.vt2{left: calc((100%/6)*2);}
.sc-news .group-media .vt-line.vt3{left: calc((100%/6)*3);}
.sc-news .group-media .vt-line.vt4{left: calc((100%/6)*4);}
.sc-news .group-media .vt-line.vt5{left: calc((100%/6)*5);}
.sc-news .group-media .hr-line{
    position: absolute;
    height: 1px;width: 100%;left: 0;
    background: var(--color_border_in);
}
.sc-news .group-media .hr-line.hr1{top: calc((100%/4)*1);}
.sc-news .group-media .hr-line.hr2{top: calc((100%/4)*2);}
.sc-news .group-media .hr-line.hr3{top: calc((100%/4)*3);}


/** sc-news _ group-control */
.sc-news .group-control .control-area .more-wrap .point{
    color: var(--color_news);
}
.sc-news .group-control .view-area{
    position: absolute;top: 0;right: 0;
}
.sc-news .group-control .view-area button{
    position: relative;
}
.sc-news .group-control .view-area button:first-of-type{
    padding: 18px 9px 18px 20px;
}
.sc-news .group-control .view-area button:first-of-type::before{
    content: "";
    display: block;
    background-position: -219px -376px;
    width: 20px;
    height: 20px;
}
.sc-news .group-control .view-area button:last-of-type{
    padding: 18px 20px 18px 9px;
}
.sc-news .group-control .view-area button:last-of-type::before{
    content: "";
    display: block;
    background-position: -401px -403px;
    width: 20px;
    height: 20px;
}


/*? sc-shop */
/** sc-shop _ group-head */
.sc-shop .group-head{
    position: relative;
}
.sc-shop .group-head .content-page{
    display: flex;
    align-items: center;
    position: absolute;
    top: 4px;
    right: 20px;
    margin-left: auto;
    padding: 10px 0;
}
.sc-shop .group-head .content-page span{
    color: #71717199;
    font-size: 1.3rem;
    line-height: 16px;
    font-weight: 600;
}
.sc-shop .group-head .content-page span.curr{
    color: var(--color_caption2);
}
.sc-shop .group-head .content-page span.total{
    margin-right: 8px;
}
.sc-shop .group-head .content-page .btn{
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    border: 1px solid rgba(211,213,215,.8);
    vertical-align: top;
    cursor: pointer;
}
.sc-shop .group-head .content-page .btn.prev{
    border-radius: 4px 0 0 4px;
}
.sc-shop .group-head .content-page .btn.prev::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 7px;
    transform: translate(-50%,-50%) rotate(45deg);
    border-left: 2px solid #80868c;
    border-bottom: 2px solid #80868c;
    margin-left: 1px;
}
.sc-shop .group-head .content-page .btn.next{
    border-left: 0;
    border-radius: 0 4px 4px 0;
}
.sc-shop .group-head .content-page .btn.next::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 7px;
    transform: translate(-50%,-50%) rotate(45deg);
    margin-left: -2px;
    border-top: 2px solid #80868c;
    border-right: 2px solid #80868c;
    margin-left: -1px;
}

/** sc-shop _ group-media */
.sc-shop .group-media{
    display: flex;
    gap: 20px;
    height: 376px;
    padding: 0 20px 1px;
}

/** sc-shop _ group-media _ shopping-desc */
.sc-shop .group-media .shopping-desc >*+*{
    margin-top: 12px;
}
.sc-shop .group-media .shopping-desc .mall-name{
    position: relative;
    padding: 9px 11px 4px;
    border-radius: 4px;
    background: rgba(245,248,251,.6);
}
.sc-shop .group-media .shopping-desc .mall-name::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: inherit;
}
.sc-shop .group-media .shopping-desc .mall-name .name-list{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.sc-shop .group-media .shopping-desc .mall-name .name-list .name-link{
    color: var(--color_caption1);
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.6px;
}
.sc-shop .group-media .shopping-desc .mall-name .name-list .name-link strong{
    font-weight: 800;
}
.sc-shop .group-media .shopping-desc .mall-name .name-list .name-dot{
    width: 3px;
    height: 3px;
    margin: 9px 0 0;
    background-color: var(--color_dot_divider);
    display: inline-block;
    border-radius: 50%;
    vertical-align: top;
}


.sc-shop .group-media .shopping-desc .quick-link{
    display: flex;
    position: relative;
    margin-top: 12px;
    padding: 9px;
    border-radius: 4px;
    background: rgba(245,248,251,.6);
}
.sc-shop .group-media .shopping-desc .quick-link::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: inherit;
}
.sc-shop .group-media .shopping-desc .quick-link .link-item{
    flex: 1 1;
}
.sc-shop .group-media .shopping-desc .quick-link .link-item a{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2px;
}
.sc-shop .group-media .shopping-desc .quick-link .link-item a .item-thumb{
    display: block;
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    line-height: 32px;
    text-align: center;
    vertical-align: top;
    border: 1px solid rgba(238, 242, 248, .8);
}
.sc-shop .group-media .shopping-desc .quick-link .link-item a .item-thumb::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
}
.sc-shop .group-media .shopping-desc .quick-link .link-item:nth-of-type(1) a .item-thumb::before{
    background-position: -34px 0;
}
.sc-shop .group-media .shopping-desc .quick-link .link-item:nth-of-type(2) a .item-thumb::before{
    background-position: -68px -34px;
}
.sc-shop .group-media .shopping-desc .quick-link .link-item:nth-of-type(3) a .item-thumb::before{
    background-position: -34px -34px;
}
.sc-shop .group-media .shopping-desc .quick-link .link-item:nth-of-type(4) a .item-thumb::before{
    background-position: -19px -121px;
    width: 17px;
    height: 16px;
}
.sc-shop .group-media .shopping-desc .quick-link .link-item a .item-text{
    color: var(--color_caption1);
    font-size: 13px;
    line-height: 20px;
}


.sc-shop .group-media .shopping-desc .ad-banner a .ad-img{
    display: block;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    width: 248px;
    height: 146px;
}
.sc-shop .group-media .shopping-desc .ad-banner a .ad-img::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: inherit;
    transform: translateZ(0);
    perspective: 1px;
}
.sc-shop .group-media .shopping-desc .ad-banner a .ad-text{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 8px;
    font-size: 1.3rem;
    line-height: 19px;
    text-align: center;
}

/** sc-shop _ group-media _ shopping-list */
.sc-shop .group-media .shopping-list{
    display: grid;
    gap: 14px 8px;
    grid-template-columns: repeat(5,1fr);
    margin-bottom: 14px;
}
.sc-shop .group-media .shopping-list .shopping-item a .item-img{
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.sc-shop .group-media .shopping-list .shopping-item a .item-img::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.06);
    border-radius: inherit;
    content: "";
}
.sc-shop .group-media .shopping-list .shopping-item .item-title{
    display: block;
    padding-top: 8px;
}
.sc-shop .group-media .shopping-list .shopping-item .item-title >span{
    overflow: hidden;
    font-size: 1.3rem;
    line-height: 19px;
    letter-spacing: -.4px;
    white-space: nowrap;
}

/** sc-shop _ group-issue */
.sc-shop .group-issue .issue-area{
    align-items: center;
}
.sc-shop .group-issue .issue-area .link-media{
    font-weight: bold;
}
.sc-shop .group-issue .issue-area img{
    display: block;
    height: 13px;
    line-height: 13px;
    margin-right: 8px;
}

/** sc-shop _ group-control */
.sc-shop .group-control .tag-ad{
    position: absolute;
    top: 18px;
    right: 20px;
}
.sc-shop .group-control .control-area .more-wrap .point{
    color: #9858f5;
}


/*? sc-recommend */
/** sc-recommend _ group-issue */
.sc-recommend .group-issue{
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
}
.sc-recommend .group-issue .recommend-area{
    display: flex;
    margin-right: 2px;
    gap: 4px;
}
.sc-recommend .group-issue .recommend-area .tab{
    border: 1px solid var(--color_border_in_divider);
    color: #404040;
    display: block;
    padding: 0 12px;
    border-radius: 18px;
    background-color: #fff;
    line-height: 34px;
    text-align: center;
}
.sc-recommend .group-issue .recommend-area .tab:hover{
    text-decoration: none;
}
.sc-recommend .group-issue .recommend-area .tab[aria-selected=true]{
    background-color: #5290ff;
    color: #fff;
}
.sc-recommend .group-issue .recommend-area .tab[aria-selected=false]:hover{
    background-color: #f1f1f1;
    color: #101010;
}
.sc-recommend .group-issue .news-area .point{
    font-weight: bold;
    padding: 0 10px;
}


/** sc-recommend _ group-media */
.sc-recommend .group-media{
    padding: 0 20px;
}
.sc-recommend .group-media .recommend-list{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 22px;
}
.sc-recommend .group-media .recommend-list .recommend-item a .item-img{
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.sc-recommend .group-media .recommend-list .recommend-item a .item-img::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.06);
    border-radius: inherit;
    content: "";
}
.sc-recommend .group-media .recommend-list .recommend-item a .item-info{
    margin-top: 10px;
}
.sc-recommend .group-media .recommend-list .recommend-item a .item-info .item-title{
    display: -webkit-box;
    overflow: hidden;
    max-height: 40px;
    line-height: 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
}
.sc-recommend .group-media .recommend-list .recommend-item a .item-info .item-source{
    display: flex;
    align-items: center;
    margin-top: 4px;
    font-size: 1.3rem;
    line-height: 20px;
}
.sc-recommend .group-media .recommend-list .recommend-item a .item-info .item-source .source{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color_caption2);
    font-size: 1.3rem;
    line-height: 20px;
}
.sc-recommend .group-media .recommend-list .recommend-item a .item-info .item-source .source .thumb{
    display: inline-block;
    position: relative;
    margin: 0 6px 0 0;
    border-radius: 50%;
    vertical-align: top;
    width: 20px;
    height: 20px;
    overflow: hidden;
}
.sc-recommend .group-media .recommend-list .recommend-item a .item-info .item-source .source .thumb::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: inherit;
}
.sc-recommend .group-media .recommend-list .recommend-item a .item-info .item-source .source .thumb img{
    width: 20px;
    height: 20px;
}
.sc-recommend .group-media .recommend-list .recommend-item a .item-info .item-source .category{
    color: var(--color_caption1);
    -webkit-box-flex: 0;
    flex: none;
    letter-spacing: -0.15px;
}
.sc-recommend .group-media .recommend-list .recommend-item a .item-info .item-source .category::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: var(--color_dot_divider);
    margin: 9px 6px 0;
    border-radius: 50%;
    vertical-align: top;
}
/** ad-item */
.sc-recommend .group-media .recommend-list .recommend-item.ad-item a .ad-mark-area{
    position: absolute;
    right: -1px;
    top: 1px;
    z-index: 1;
}
.sc-recommend .group-media .recommend-list .recommend-item.ad-item a .ad-mark-area .ad-mark{
    display: block;
    padding: 2px 4px;
    background-origin: content-box;
    box-sizing: content-box;
    background-position: 0px -20px;
    width: 42px;
    height: 16px;
    color: transparent;
}
.sc-recommend .group-media .recommend-list .recommend-item.ad-item a .item-info .cont-title{
    font-size: 15px;
    font-weight: 500;
}
.sc-recommend .group-media .recommend-list .recommend-item.ad-item a .item-info .comp-title{
    color: #606060;
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.5px;
    line-height: 1.429;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/** sc-recommend _ group-control */
.sc-recommend .group-control{
    padding: 0;
}
.sc-recommend .group-control .btn-more{
    color: var(--color_caption1);
    display: block;
    width: 100%;
    font-size: 1.3rem;
    line-height: 56px;
    font-weight: 600;
    cursor: pointer;
}
.sc-recommend .group-control .btn-more .icon-more{
    width: 10px;
    height: 10px;
    position: relative;
    display: inline-block;
    margin: 23px 0 0 5px;
    vertical-align: top;
    font-size: 1.3rem;
    line-height: 56px;
    font-weight: 600;
    cursor: pointer;
}
.sc-recommend .group-control .btn-more .icon-more::before{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 4px;
    bottom: 4px;
    width: 100%;
    transform: translateX(-50%);
    background-color: #5290ff;
}
.sc-recommend .group-control .btn-more .icon-more::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 4px;
    right: 4px;
    height: 100%;
    transform: translateY(-50%);
    background-color: #5290ff;
}







/********! right *********/
/*? sc-login */
.sc-login{
    padding: 21px 20px 18px;
    line-height: 20px;
    text-align: center;
}
.sc-login p.login-msg{
    font-size: 1.4rem;
}
.sc-login .link-login{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
    padding: 17px 0;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 4px;
    background-color: #03c75a;
    box-shadow: 0 2px 4px 0 rgba(3,199,90,.12);
    color: #fff;
}
.sc-login .link-login:hover{
    background-color: #17b75e;
    box-shadow: 0 2px 4px 0 rgba(3, 199, 90, .24);
}
.sc-login .link-login::before{
    content: '';
    background-position: 0px -301px;
    width: 72px;
    height: 14px;
}
.sc-login .more-area{
    display: flex;
    justify-content: center;
    color: var(--color_caption2);
    margin-top: 16px;
    font-size: 1.3rem;
}
.sc-login .more-area .link-more{
    display: flex;
    align-items: center;
}
.sc-login .more-area .link-more+.link-more::before{
    content: "";
    width: 1px;
    height: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 0 12px;
}

/*? type-shopping */
.type-shopping{
    display: flex;
    gap: 18px;
    padding: 18px;
    border-radius: 8px;
    overflow: hidden;
    width: 420px;
    height: 172px;
    background-color: #f9fbfd;
    position: relative;
}
.type-shopping .group-head{
    flex-shrink: 0;
    width: 80px;
}
.type-shopping .group-head h3{
    font-family: NanumSquareNeo,sans-serif;
    font-size: 1.7rem;
    line-height: 23px;
    font-weight: 800;
    word-break: keep-all;
}
.type-shopping .group-head .tag-ad{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 18px 18px;
}
.type-shopping .group-shopping{
    flex: 1;
    position: relative;
}
.type-shopping .group-shopping .shopping-list{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.type-shopping .group-shopping .shopping-list .shopping-item{
    width: 90px;
}
.type-shopping .group-shopping .shopping-list .shopping-item a .item-img{
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.type-shopping .group-shopping .shopping-list .shopping-item a .item-img::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.06);
    border-radius: inherit;
    content: "";
}
.type-shopping .group-shopping .shopping-list .shopping-item a .item-img span{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: none;
    padding: 0 4px 0 8px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 24px;
    color: #f5f7f8;
    letter-spacing: -.4px;
    background-color: rgba(0,0,0,.4);
}
.type-shopping .group-shopping .shopping-list .shopping-item:hover a .item-img span{
    display: block;
}
.type-shopping .group-shopping .shopping-list .shopping-item a .item-title{
    color: var(--color_body);
    display: -webkit-box;
    overflow: hidden;
    max-height: 46px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-top: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -.4px;
    word-break: break-all;
}
.type-shopping .group-shopping .shopping-pagination .btn{
    position: absolute;
    top: 29px;
    bottom: 0;
    width: 32px;
    height: 32px;
    border: 1px solid var(--color_button_border);
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fbfbfc;
}
.type-shopping .group-shopping .shopping-pagination .btn.prev{left: -14px;}
.type-shopping .group-shopping .shopping-pagination .btn.prev::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: -452px -104px;
    width: 10px;
    height: 12px;
    margin: auto;
    transform: rotate(180deg);
}
.type-shopping .group-shopping .shopping-pagination .btn.next{right: -14px;}
.type-shopping .group-shopping .shopping-pagination .btn.next::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: -452px -104px;
    width: 10px;
    height: 12px;
    margin: auto;
}


/*? sc-daily */
/** group-header */
.right-board{
    padding: 0 18px;
}
.right-board .group-header{
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px 0;
    line-height: 40px;
}
.right-board .group-header h3{
    color: var(--color_title);
    padding-right: 7px;
    font-size: 1.5rem;
    font-weight: 800;
}
.sc-daily .group-header .link-view{
    border: 1px solid var(--color_border_in_divider);
    background-color: var(--color_button1_bg);
    color: var(--color_caption2);
    height: 26px;
    padding: 0 10px 0 7px;
    border-radius: 15px;
    font-size: 1.1rem;
    line-height: 25px;
}
.sc-daily .group-header .link-view::before{
    content: "";
    display: inline-block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
    background-size: 452px 436px;
    background-position: -91px -424px;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin: 6px 2px 0 0;
    vertical-align: top;
}
.sc-daily .group-header .link-view:hover{
    background-color: #f8f8f8;
    color: #404040;
}
.sc-daily .group-header .location{
    flex: 1;
    font-size: 1.3rem;
    line-height: 40px;
    text-align: right;
}
/** group-info */
.sc-daily .group-info{
    display: flex;
    gap: 24px;
    padding: 20px 0 18px;
    border-top: 1px solid var(--color_border_in);
    position: relative;
;
}
.sc-daily .group-info .info-box{
    position: relative;
    -webkit-box-flex: 1;
    flex: 1;
    min-width: 0;
}
.sc-daily .group-info .info-box .link-info-detail .info-weather{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}
.sc-daily .group-info .info-box .link-info-detail .info-weather .weather-icon{
    width: 86px;
    height: 86px;
    margin-right: 4px;
}
.sc-daily .group-info .info-box .link-info-detail .info-weather .weather-icon::before{
    content: "";
    display: block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_weather.11654bc0.png);
    background-size: 641px 587px;
    background-position: 0px -174px;
    background-repeat: no-repeat;
    width: 86px;
    height: 86px;
}
.sc-daily .group-info .info-box .link-info-detail .info-weather .weather-temperature{
    display: flex;
    flex-direction: column;
    min-width: 0;
    font-size: 3.9rem;
    line-height: 48px;
    letter-spacing: -2px;
}
.sc-daily .group-info .info-box .link-info-detail .info-weather .weather-temperature .weather-status{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: -0.3px;
}
.sc-daily .group-info .info-box .link-info-detail .info-temperature{
    margin-top: 16px;
    line-height: 16px;
    text-align: center;
}
.sc-daily .group-info .info-box .link-info-detail .info-temperature .temp-low{
    color: #3172e7;
}
.sc-daily .group-info .info-box .link-info-detail .info-temperature .temp-high{
    color: #cd3534;
}
.sc-daily .group-info .info-box .link-info-detail .info-temperature .temp-high::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: var(--color_dot_divider);
    margin: 0 5px 0 3px;
    transform: skewX(-15deg);
    vertical-align: -1px;
}
.sc-daily .group-info .info-box .link-weather-dust{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    line-height: 20px;
}
.sc-daily .group-info .info-box .link-weather-dust .dust-text{
    display: inline-block;
    font-size: 1.3rem;
    vertical-align: top;
}
.sc-daily .group-info .info-box .link-weather-dust .dust-text:last-of-type::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: var(--color_dot_divider);
    margin: 8px 6px 0;
    border-radius: 50%;
    vertical-align: top;
}
.sc-daily .group-info .info-box .link-weather-dust .dust-text .dust-status{
    color: #32a1ff;
    padding-left: 4px;
}
.sc-daily .group-info .info-box.weather .link-info-weather{
    position: relative;
    display: block;
}
.sc-daily .group-info .info-box.weather .link-info-weather .weather-graph{
    position: absolute;
    top: 28px;
    right: 0;
    left: 0;
}
.sc-daily .group-info .info-box.weather .link-info-weather .weather-graph canvas{
    width: 180px;
    height: 37px;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: auto 180 / 37;
}
.sc-daily .group-info .info-box.weather .link-info-weather .weather-list{
    display: flex;
    justify-content: space-between;
    height: 143px;
}
.sc-daily .group-info .info-box.weather .link-info-weather .weather-list .weather-item{
    position: relative;
    width: 32px;
    text-align: center;
}
.sc-daily .group-info .info-box.weather .link-info-weather .weather-list .weather-item .time{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: var(--color_caption2);
    font-size: 1.3rem;
    line-height: 16px;
    white-space: nowrap;
}
.sc-daily .group-info .info-box.weather .link-info-weather .weather-list .weather-item:first-of-type .time{
    color: var(--color_body);
    font-weight: bold;
}
.sc-daily .group-info .info-box.weather .link-info-weather .weather-list .weather-item .icon{
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    width: 32px;
    height: 32px;
}
.sc-daily .group-info .info-box.weather .link-info-weather .weather-list .weather-item .icon::before{
    content: "";
    display: block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_weather.11654bc0.png);
    background-size: 641px 587px;
    background-position: -198px -522px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.sc-daily .group-info .info-box.weather .link-info-weather .weather-list .weather-item:nth-of-type(2) .icon::before,
.sc-daily .group-info .info-box.weather .link-info-weather .weather-list .weather-item:nth-of-type(5) .icon::before{
    background-position: -33px -522px;
}
.sc-daily .group-info .info-box.weather .link-info-weather .weather-list .weather-item .celsius{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 60px;
    left: 0;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
}
.sc-daily .group-info .info-box.weather .link-info-weather .weather-list .weather-item:nth-of-type(2) .celsius,
.sc-daily .group-info .info-box.weather .link-info-weather .weather-list .weather-item:nth-of-type(5) .celsius{
    margin-top: 18px;
}
.sc-daily .group-info .info-box.weather .link-info-weather .weather-list .weather-item .celsius::before{
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 15px;
    background-color: #ebebeb;
    background-color: var(--color_border_in);
    width: 1px;
}


/*? sc-finance */
/** group-header */
.sc-finance .group-header .btn-info{
    width: 20px;
    height: 20px;
    position: relative;
    margin-bottom: -4px;
}
.sc-finance .group-header .btn-info::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
    background-size: 452px 436px;
    background-position: -243px -316px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    margin: auto;
}
.sc-finance .group-header .time{
    flex: 1;
    text-align: right;
    color: var(--color_caption2);
    line-height: 40px;
}
.sc-finance .group-header .time .refresh{
    display: inline-block;
    padding: 12px 0 12px 5px;
    vertical-align: top;
}
.sc-finance .group-header .time .refresh::before{
    content: "";
    display: block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
    background-size: 452px 436px;
    background-position: -132px -332px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.sc-finance .group-header .time:hover .refresh::before{
    background-position: -204px -176px;
}

/** group-info */
.sc-finance .group-info{
    display: flex;
    gap: 25px;
    border-top: 1px solid var(--color_border_in);
    position: relative;
    padding: 8px 0 15px;
}
.sc-finance .group-info .link-info-detail{
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}
.sc-finance .group-info .link-info-detail .stock-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    line-height: 18px;
}
.sc-finance .group-info .link-info-detail .stock-price{
    margin-top: 1px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.7px;
}
.sc-finance .group-info .link-info-detail .stock-gap{
    display: flex;
    gap: 6px;
    position: relative;
    margin-top: 1px;
    padding-left: 12px;
    font-size: 14px;
    line-height: 17px;
    color: #f44336;
}
.sc-finance .group-info .link-info-detail .stock-gap .ico-status{
    position: absolute;
    top: 3px;
    left: 0;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
    background-size: 452px 436px;
    background-position: -65px -424px;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    background-color: rgba(0,0,0,0);
}
.sc-finance .group-info .link-info-detail .stock-graph{
    margin-top: 10px;
}
.sc-finance .group-info .link-info-detail .stock-graph{
    width: 180px;
    aspect-ratio: auto 180 / 72;
    height: 72px;
}

.sc-finance .group-info .info-box.stock{
    flex: 1;
}
.sc-finance .group-info .stock-list .stock-item{
    display: flex;
    align-items: center;
    height: 37px;
    border-bottom: 1px solid var(--color_border_in);
}
.sc-finance .group-info .stock-list .stock-item a{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.sc-finance .group-info .stock-list .stock-item a .stock-price{
    display: flex;
}
.sc-finance .group-info .stock-list .stock-item a .stock-price i{
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
    background-size: 452px 436px;
    background-position: -65px -424px;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-top: 4px;
}
.sc-finance .group-info .stock-list .stock-item:nth-of-type(3) a .stock-price i{
    background-position: -39px -424px;
}
.sc-finance .group-info .stock-list .stock-item a .stock-price .stock-rate{
    color: #f44336;
    margin-right: 4px;
    font-size: 1.1rem;
}
.sc-finance .group-info .stock-list .stock-item:nth-of-type(3) a .stock-price .stock-rate{
    color: #2196f3;
}
.sc-finance .group-info .stock-list .stock-item:nth-of-type(4){
    height: 39px;
    color: var(--color_caption2);
    position: relative;
}
.sc-finance .group-info .stock-list .stock-item:nth-of-type(4)::after{
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    right: 0;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
    background-size: 452px 436px;
    background-position: -226px -424px;
    background-repeat: no-repeat;
    width: 10px;
    height: 12px;
}